body{
	margin: auto;
	width: 980px;
	background-color: rgb(256,256,256);
	color: black;
	font: normal 20pt Arial;
}

.div-lampada{
	display: block; /*https://www.w3.org/Style/Examples/007/center.en.html ou https://www.w3schools.com/css/css_align.asp*/
	position: relative;
	margin: auto;
	width: min-content;
}

div#area{
	margin: auto;
	font: normal 20pt Arial;
	background: rgb(42,139,42);
	color: white;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
}

input {
	margin: 10px;
	font: normal 18pt Arial;
	width: 100px;
}

div#resultado{
	margin: 20px auto;
	text-align: center;
}

div#soma-soma, div#condic, div#divNacional{
	width: fit-content;
	margin: auto;
}

.exercicio {
	text-align: left !important;
}

#resultado> p, div#condic > p, .pExplica{
	text-align: center;
}

#divDia{
	margin: auto;
    width: fit-content;
}
